name: Go
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        golangci_lint: [v1.60]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ matrix.golangci_lint }}
          args: --timeout=2m
          only-new-issues: false
          working-directory: .
      - name: Test
        run: go test -race -v ./... -gcflags=all=-l
      - name: Coverage
        run: go test ./... -gcflags=all=-l -coverprofile=coverage.txt -covermode=atomic
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
